.video-portion{
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-top: 5%;
}

.video-portion-inner-div{
    display: flex;
}

.video-portion-details-area{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-portion-video-area{
    width: 50%;
}

.recommended-blog-div{
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 5%;
    padding-top: 5%;
}

/* NAv */

.mobile-link-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: none;
}

.mobile-link-div>a{
    margin-bottom: 20px;
}

.show{
    display: flex !important;
}