.vod-main-div{
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-top: 5%;
}

.video-portion-inner-div{
    display: flex;
    margin-bottom: 25px;
    position: relative;
}

.video-portion-details-area{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.video-portion-details-area-2{
    position: absolute;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    right: 0;
}

.video-portion-video-area-2{

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.video-portion-video-area{
    width: 50%;
}

.recommended-blog-div{
    padding: 10%;
    padding-top: 0%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.paggination-div{
    display: flex;
    justify-content: flex-end;
}

.video-portion-video-area-2-text{
    text-align: right;
}

@media (max-width: 800px) {
	.video-portion-inner-div {
        display: block;
        display: block;
        position: relative;
        min-height: 490px;
    }

    .video-portion-details-area{
        width: 100%;
    }
    

    .video-portion-video-area-2{
        width: 100%;
    }
    
    .video-portion-video-area{
        width: 100%;
    }

    .video-portion-details-area-2{
        width: 100%;
        position: relative;
    }

    .video-portion-video-area-2-text{
        text-align: left;
    }
}