<div class="footer-div">

    <div class="footer-inner-div">

        <h1>Eminifx59</h1>

        <div class="footer-inner-div-2">

            <div class="footer-inner-div-left">

                <p style="color: white;"></p>
                    <a href="{% url 'terms' %}" class="footer-inner-div-left-field-link">Privacy notice</a>
                

                
                    <a href="{% url 'terms' %}" class="footer-inner-div-left-field-link">Terms of Use</a>
                

                
                    <a href="{% url 'terms' %}" class="footer-inner-div-left-field-link">Press releases</a>

                    
                

            </div>
        </div>

    </div>

    <div class="copyright-div">
        Copyright: Eminifx59 2022
    </div>
</div>