<section style="padding-top: 0px; padding-bottom: 0px; background-color: rgba(227,60,28,0.8);" class="elementor-section elementor-top-section elementor-element elementor-element-7988905 elementor-section-full_width elementor-section-content-middle sc_layouts_row sc_layouts_row_type_normal scheme_dark sc_layouts_row_fixed sc_layouts_row_fixed_always elementor-section-height-default elementor-section-height-default" data-id="7988905" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-wide">
        <div class="elementor-row" style="
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                    ">
            <div style="width: 50%;" class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2c66af8 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="2c66af8" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                        <div class="sc_layouts_item elementor-element elementor-element-d435c6b sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_logo" data-id="d435c6b" data-element_type="widget" data-widget_type="trx_sc_layouts_logo.default">
                    <div class="elementor-widget-container">
                    <a href="{% url 'list' %}" id="trx_sc_layouts_logo_1892419976" class="sc_layouts_logo sc_layouts_logo_default trx_addons_inline_1108911031">
                    <h3 style="color: white;" >Eminifx59</h3>
                    </a><!-- /.sc_layouts_logo -->		</div>
                    </div>
                </div>
                    </div>
            </div>
            <div style="width: 50%;" class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1cd0600 sc_layouts_column_align_right sc_layouts_column sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left" data-id="1cd0600" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                    <div class="sc_layouts_item elementor-element elementor-element-7eb98fc sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_menu" data-id="7eb98fc" data-element_type="widget" data-widget_type="trx_sc_layouts_menu.default">
                <div class="elementor-widget-container">
                <div id="trx_sc_layouts_menu_978376069" class="sc_layouts_iconed_text sc_layouts_menu_mobile_button_burger sc_layouts_menu_mobile_button without_menu">
                <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
                                
                <i class="fa fa-bars" id="nav-btn" aria-hidden="true"></i>

                </a>
                </div>		</div>
                </div>
                

                    </div>
                </div>
            </div>
        </div>
</div>
</section>

<div class="menu_mobile_overlay"></div>
<div class="menu_mobile menu_mobile_fullscreen scheme_dark">
	<div class="menu_mobile_inner">
		<a class="menu_mobile_close theme_button_close"><span class="theme_button_close_icon"></span></a>
		<a class="sc_layouts_logo" href="https://rightway.themerex.net/">
		<img src="#" alt="" width="187" height="52">	</a>
	<nav class="menu_mobile_nav_area" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
		<ul class="sub-menu">
			<li id="menu_mobile-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-168">
				<a href="{% url 'list' %}" style="width: auto; padding: 0px; margin-bottom: 20px;">
					<span>Home</span>
				</a>
			</li>
		</ul>

		<ul class="sub-menu">
			<li id="menu_mobile-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-168">
				<a href="{% url 'about_us' %}" style="width: auto; padding: 0px; margin-bottom: 20px;">
					<span>About-us</span>
				</a>
			</li>
		</ul>

		<ul class="sub-menu">
			<li id="menu_mobile-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-168">
				<a href="{% url 'blogs' %}" style="width: auto; padding: 0px; margin-bottom: 20px;">
					<span>Blogs</span>
				</a>
			</li>
		</ul>

		<ul class="sub-menu">
			<li id="menu_mobile-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-168">
				<a href="{% url 'vod' %}" style="width: auto; padding: 0px; margin-bottom: 20px;">
					<span>VOD</span>
				</a>
			</li>
		</ul>

		<ul class="sub-menu">
			<li id="menu_mobile-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-168">
				<a href="{% url 'contact_us' %}" style="width: auto; padding: 0px; margin-bottom: 20px;">
					<span>Contact-us</span>
				</a>
			</li>
		</ul>

	</nav>
	</div>
</div>